# Banco de Dados 
# postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/infoagua?schema=public"

# JWT
JWT_SECRET="secret"
JWT_EXPIRES_IN="7d"

# Servidor
PORT=3000

# Storage (MinIO / S3-compatible)
STORAGE_ENDPOINT="http://localhost:9000"
STORAGE_ACCESS_KEY="infoagua"
STORAGE_SECRET_KEY="infoaguasecret"
STORAGE_BUCKET="infoagua-uploads"
STORAGE_REGION="us-east-1"

# OpenWeather
OPENWEATHER_API_KEY="key"
