# Banco de Dados 
# postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/infoagua?schema=public"

# JWT
JWT_SECRET="secret"
JWT_EXPIRES_IN="7d"

# Servidor
PORT=3000

# Storage (Garage / S3-compatible)
STORAGE_ENDPOINT=""
STORAGE_ACCESS_KEY=""
STORAGE_SECRET_KEY=""
STORAGE_BUCKET=""
STORAGE_REGION="us-east-1"

# OpenWeather
OPENWEATHER_API_KEY=""
